# Sensenova API Key
VITE_SENSENOVA_API_KEY=your-api-key-here

# FLUX API Server URL
VITE_FLUX_API_URL=http://192.168.199.107:8787

# JoyAI API Server URL
VITE_JOYAI_API_URL=http://192.168.199.107:8788

# HiDream API Server URL
VITE_HIDREAM_API_URL=http://192.168.199.107:7860
